@import "tailwindcss";

.toolbar {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background: #8a7400;
    border-radius: 999px;
}

.tool-btn {
    width: 42px;
    height: 42px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .tool-btn.active {
    transform: scale(1.1);
} */